.postForm{
    display: flex;
    flex-direction:column;
    align-items:center;
    /**text-align:center;**/
    box-shadow: 2px 0.1px 15px 7px rgb(15, 211, 218);
}
.postH1{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
    margin-top: 30px;
}
.postLabel{
    text-align: left;
    display: block;
}

.postImg, .postText{
    width: 20rem;
    padding: 6px 10px;
    margin: 10px 0px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.postInput{
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'heebo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 20rem;
    transition: all 0.2s;
}
.postInput:hover{
    cursor: pointer;
    background-color: #eeeeee;

}
.postInput:focus{
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #3b8a86;
    
}
.postBtn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(32, 104, 4);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    width: 200px;
}

.postBtn:hover {
    background-color: rgb(46, 151, 95);
}

.postBtn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/****/

.card1 {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    min-width: 900px;
    margin: 200px auto;
    background: #fff;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
    padding: 1rem;
}
.thumbnail{
    display: flex;
    float: left;
    left: 30px;
    top: 30px;
    height: 320px;
    width: 530px;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
    overflow: hidden;

}
.IMG-posts{
    width: 530px;
}
.right{
   display: flex;
   flex-direction: column;
   margin-top:-320px;
    margin-left: 540px;
}
h1.title{
    padding-top: 15px;
    font-size: .9rem;
    color: #4b4b4b;
}
.author{
    background: #9ecaff;
    height: 30px;
    width: 110px;
    border-radius: 20px;
}
.author> img{
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
h2.conH2{
    padding-top: 8px;
    margin-right: 6px;
    text-align: right;
    font-size: .8rem;
    color: rgb(124, 0, 0);
}
p.postP{
    text-align: justify;
    padding-top:10px;
    font-size: .95rem;
    line-height: 150%;
    color: #4b4b4b;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.sit{
   display: flex;
   justify-content: flex-end;
   margin-top: 90px;
}
li.conLi{
    display: inline;
    list-style: none;
    padding-right: 40px;
    color: #7b7b7b;
}
.deleteIcon{
    cursor: pointer;
}
.editIcon{
    cursor: pointer;
}
.shareIcon{
    cursor: pointer;
}



.textArea{
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'heebo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 20rem;
    height: 100px;
    transition: all 0.2s;

}
.textArea:hover{
    cursor: pointer;
    background-color: #eeeeee;

}
.textArea:focus{
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #3b8a86;
    
}
.dateSpan{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top:5rem;
    color: #666666;
     
    /*
     background-color: rgb(255, 251, 251);
    margin: 10rem;
    position: relative;
    left: 13.2rem;
    top: 3rem; */
}
.date{
    margin-right: 5px ;
}